<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">LazyLoading</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/Home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Customer']">customer</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Product']">product</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<br>

<section style="background-color: cornflowerblue;">

<router-outlet></router-outlet>
</section>

<div style="background-color: blanchedalmond;">
<p>for routing guird if youb want to access our prioduct section,must login our website</p>
<p>or go to console page and past</p>
<p>localStorage.setItem('token','122') </p>
<p>then you can acees our product section</p>
</div>